<!DOCTYPE html>
<head lang="pt-br">
    <title>To-do</title>
        <link rel="stylesheet" href="../static/stylesheet.css">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <ul id="Tasks">
            
        </ul>
        <div class="container">
            <form>
                <h1>Daily Tasks</h1>
                <input  autocomplete="off" id="task" type="text" placeholder="New Task">
                <button id="add">Add</button>
                <button id="clear">Clear</button>
            </form>
            <div class="box">
                <img src="../static/relogio.jpg" alt="img">
            </div>
        </div>
    </body>
</html>
